<IfModule mod_rewrite.c>

  RewriteEngine on
  RewriteCond %{HTTP_HOST} ^sppa.willparry.org$ [NC,OR]
  RewriteCond %{HTTP_HOST} ^www.sppa.willparry.org$
  RewriteCond %{REQUEST_URI} !build/
  RewriteRule ^.* /build/$1 [L]

</IfModule>