.user-main{
    height: calc(100vh - calc(3.5rem + 1px) - calc(30px));
}
.overflow-y-scroll{
    overflow-y: scroll;
}

.client-overflow-scroll::-webkit-scrollbar-track, .client-overflow-scroll::-webkit-scrollbar {
    display: none;
}
.filter{
    width: fit-content;
}

.bottom-modal{
    bottom: -95px;
}
.public-sidebar > .active{
    border: 1px solid white;
}